html {
  /* width: 100%;
  height: 100%; */
  background-color: rgba(16,190,206,0.5);
  margin: 0;
}
body {
  /* width: 90%; */
  /* background-color: rgb(46,15,76); */
  background: linear-gradient(to right,rgba(46,15,76,1) 40%,rgba(37,117,252,1) 60%);
  background-image: -webkit-linear-gradient(left, rgb(46,15,76) 40%, rgb(37, 117, 252) 60%);
  background-image: -o-linear-gradient(left, rgb(46,15,76) 40%, rgb(37, 117, 252) 60%);
  background-image: linear-gradient(to right, rgb(46,15,76) 40%, rgb(37, 117, 252) 60%);
  color: white;
  margin: 0;
}
header {
  /* width: 100%; */
  color: #000;
  text-align: center;
  background-color: rgba(59,76,132,0.5);
  justify-content: center;
}
header > ul > li {
  list-style: none;
  display: inline;
  margin-left: 4em;
}
a {
  color: #FFF;
  text-decoration: none;
}
#titulo_principal {
  font-family: fantasy;
  font-style: oblique;
  font-size: 3em;
}
section {
  width: 60%;
}
h3 {
  color: #D4D57D;
}
.contenido li {
  background-color: rgba(136,136,6,0.7);
  color: #000;
  list-style: none;
  font-weight: bold;
  padding-left: 3%;
}
#devuelve {
  color: red;
}
